<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Primary Meta Tags -->
  <title>Online Abusive Text Detection System for IPV</title>
  <meta name="title" content="Online Abusive Text Detection System for IPV">
  <meta name="description"
    content="Detecting Intimate Partner Violence (IPV) is arduous due to the unavailability of conversations between intimate partners. We aim to find abusive texts from social media platforms that could have potentially been used for IPV.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://online-ipv.naamii.org.np/">
  <meta property="og:title" content="Online Abusive Text Detection System for IPV">
  <meta property="og:description"
    content="Detecting Intimate Partner Violence (IPV) is arduous due to the unavailability of conversations between intimate partners. We aim to find abusive texts from social media platforms that could have potentially been used for IPV.">
  <meta property="og:image" content="">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://online-ipv.naamii.org.np/">
  <meta property="twitter:title" content="Online Abusive Text Detection System for IPV">
  <meta property="twitter:description"
    content="Detecting Intimate Partner Violence (IPV) is arduous due to the unavailability of conversations between intimate partners. We aim to find abusive texts from social media platforms that could have potentially been used for IPV.">
  <meta property="twitter:image" content="">
  <script type="module" crossorigin src="/assets/index-e9a1ffaf.js"></script>
  <link rel="modulepreload" crossorigin href="/assets/react-75fa6e8e.js">
  <link rel="modulepreload" crossorigin href="/assets/mui_material-2b59c782.js">
  <link rel="modulepreload" crossorigin href="/assets/react_router-41a0819f.js">
  <link rel="modulepreload" crossorigin href="/assets/chart_js-06c18883.js">
  <link rel="modulepreload" crossorigin href="/assets/chart_js_extras-fa8481ca.js">
  <link rel="modulepreload" crossorigin href="/assets/moment-a2dc6acb.js">
  <link rel="modulepreload" crossorigin href="/assets/mui_extras-a7940535.js">
  <link rel="modulepreload" crossorigin href="/assets/word_cloud-dc361cfb.js">
  <link rel="stylesheet" href="/assets/index-e810c549.css">
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
  
</body>

</html>