<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>ES System</title>
  <script type="module" crossorigin src="/assets/index.cf993211.js"></script>
  <link rel="modulepreload" crossorigin href="/assets/react.4f0cd3ad.js">
  <link rel="modulepreload" crossorigin href="/assets/react_router.1cf934e0.js">
  <link rel="modulepreload" crossorigin href="/assets/mui_material.a755af34.js">
  <link rel="modulepreload" crossorigin href="/assets/mui_extras.1600e50c.js">
  <link rel="modulepreload" crossorigin href="/assets/chart_js.170025e6.js">
  <link rel="modulepreload" crossorigin href="/assets/chart_js_extras.81c15501.js">
  <link rel="modulepreload" crossorigin href="/assets/client.d287e005.js">
  <link rel="stylesheet" href="/assets/index.97c67fa9.css">
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
  
</body>

</html>